#ignore all files in data dir
web/data/*
web/errorLogs/*
web/temp_files/*
web/packages/*

# this file is for testing purposes only
web/phpinfo.php

#ignore any geojsons
*.geojson

#ignore Adobe Illustrator and PS docs
*.ai
*.psd

# the stupid Windows files that are created when image files are created or modified
*Thumbs.db

scripts/__pycache__/*
scripts/.ipynb_checkpoints/*
*.pyc