
/*body {
	font-size: 30px;
}*/




body { 
  background-image: url('../imgs/scenic_landing_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; 
  background-color: #e0e3e8;
  overflow-x: auto;
  /*background-size: contain;*/
}


.query-form-row {
	width: 100%;
	justify-content: space-between;
	padding-bottom: 50px;
	align-content: center;
}
.query-input-container {
	display: inline-block; 
	width: 32%; 
	/*padding-right: 4%;*/
}

.query-input-label {
	/*display: block;*/
	margin-bottom: 10px;
}

.query-input {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	float: left;
	background-color: hsl(218, 15%, 95%);
	border: 1px solid rgb(169, 167, 167);
}

input {
	transition: 0.3s;
}

input[type="submit"], button {
	background-color: hsl(195, 84%, 45%); 
	color: white;
	border-radius: 7px;
}

input[type="submit"]:hover, button:hover {
	/*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);*/
	background-color: hsl(195, 90%, 40%);
}

input[type="submit"]:focus, button:focus {
	-webkit-box-shadow: none;
	outline: -webkit-focus-ring-color auto 0px;
}

#export-file-button {
	width: 20%;
	height: 50px;
	border: none;
}

#result-table {
	background-color: #a5aeb080;/*rgba(255, 255, 255, 0.5)*/
}

.result-table-cell, .result-table-column-header {
	text-align: center;
	min-width: 80px;
	padding: 8px 15px 8px 15px;
	display: inline-block;
	color: white;
}

.result-table-cell, .landing-table-cell {
}

.truncatable {
	text-align: inherit;
	display: inherit;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
span.truncatable {
	position: absolute;
	margin-top: -12px;
}
.truncatable.truncated {
	width: 90%;
	display: inline-block;
}

.expand-truncated-button {
	z-index: 100; 
	background-color: Transparent; 
	border: none; 
	display: inline-block;
	width: 5%;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.expand-truncated-button:hover {
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
	transform: translate(0px, -5px);
	/*top: -5px;
	position: relative;*/
	cursor: pointer;
}

.result-table-column-header {
	background-color: #894C4C;/*hsl(217, 5%, 77%);*/
	display: inline-block;
	font-weight: bold;
	/*font-size: 20px;*/
}

.result-table-row, .result-table-header {
	width: 97%;
	justify-content: space-between;
	align-items: center;
}

.result-table-header {
	height: 60px;
	width: 100%;
	padding-right: 3%;
}

.result-table-row {
	height: 40px;
}

.result-table-card {
	border-bottom: 1px solid black;

}

.landing-table-column-header {
	background-color: #e7edeede;/*rgba(255, 255, 255, 0.3)*/
}

.landing-table-cell {
	background-color: #d1d5d7e6;/*rgba(255, 255, 255, 0.1);*/
	position: relative;
}

.landing-row-hidden {
	display: none;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

.card {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.card-header {
	background-color: #936262e6;/*#946d6d;/*hsla(217, 5%, 50%, 0.1);*/
}
.card-header a {
	color: black;
	display: flex;
	align-items: center;
}

/* Add animated chevron to card*/
.card-header .fa {
  transition: .3s transform ease-in-out;
  color: white;
  margin-right: 15px;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

/*table {background-color: rgb(0, 0, 0, 0)}*/

tr {
	border-bottom: 1px solid #84848480;/*hsl(100, 0%, 80%);*/
}

td, th {
	text-align: center;
	width: 100px;
	max-width: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

td {
	height: 40px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: white-space 0.5s ease-in-out;
}

/*td.truncated {
	padding-right: 40px;
}*/

.cell-landing_notes, .cell-justification {
	width: 25%;
	text-align: left;
}

.cell-landing_location {
	text-align: left;
	width: 15%;
}

.cell-landing_type {
 	width: 15%;
 }

.cell-landing_passengers {
	width: 10%;
}




th {
	height: 50px;
	font-weight: 600;
}

/* Custom checkbox*/
/* The container */
.checkmark-container {
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 50px;
  	margin-bottom: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height:20px;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: none;
	border: 2px solid hsl(195, 84%, 45%);
	vertical-align: center;
	horizontal-align: center;
}

/*When the checkbox is checked, fill in background*/ 
.checkmark-container input:checked ~ .checkmark {
	background-color: hsl(195, 84%, 45%);
	border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	/*display: none;*/
	opacity: 0;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
	/*display: block;*/
	opacity: 1;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
	left: 7px;
	top: 2px;
	width: 7px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	vertical-align: center;
}
/*th {
	background-color: hsl(217, 5%, 77%);
}*/

/* Modal expanded text (that exceeds the width of the cell)*/
/* modal background */
.modal-background {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9998; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-backgound-open {
	display: block;
}

.modal-content {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #fefefe;*/
  width: 400px;
  max-width: 100%;
  border-radius: 16px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-name: slideIn;
  animation-duration: 0.3s
}

.modal-expanded-text {
	padding: 0px 16px 16px 24px;
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* close button*/
.close-modal-text-button {
  color: white;
  float: right;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  		  transition: all 0.3s ease;
}

.close-modal-text-button:hover, .close-modal-text-button:focus {
  transform: translate(0px, -5px);
  text-decoration: none;
  cursor: pointer;
}

/* animations */
@-webkit-keyframes slideIn {
	from {transform: translate(-25%, -50%); opacity: 0}
	to {transform: translate(-50%, -50%); opacity: 1;}
}

@keyframes slideIn {
	from {transform: translate(-25%, -50%); opacity: 0}
	to {transform: translate(-50%, -50%); opacity: 1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}