
/*body {
	font-size: 30px;
}*/




body { 
  background-image: url('../imgs/scenic_landing_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; 
  background-color: #e0e3e8;
  overflow-x: auto;
  /*background-size: contain;*/
}


.query-form-row {
	width: 100%;
	justify-content: space-between;
	padding-bottom: 30px;
	align-content: center;
}
.query-input-container {
	display: inline-block; 
	width: 32%; 
	/*padding-right: 4%;*/
}

.query-input-label {
	/*display: block;*/
	margin-bottom: 10px;
}

.query-input, .select2-selection--multiple, .select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	float: left;
	background-color: hsl(218, 15%, 95%);
	border: 1px solid rgb(169, 167, 167);
	border-radius: 0px;
}

.query-input:focus, .select2-container--default.select2-container--focus .select2-selection--multiple{
	border: 2px solid hsl(195, 84%, 45%);
}

.select2, .select2-container, .select2-container--default {
	width: 100% !important;
}

.select2-dropdown {
	background-color: hsl(218, 15%, 95%);
	border-radius: 0px;
}

.select2-selection--multiple {
	overflow-y: auto;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	border: none;
}

input {
	transition: 0.3s;
}

input[type=date]::-webkit-inner-spin-button, input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

::-webkit-clear-button {
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
}

input[type="submit"], button {
	background-color: hsl(195, 84%, 45%); 
	color: white;
	border-radius: 7px;
}

input[type="submit"]:hover, #export-file-button:hover {
	/*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);*/
	background-color: hsl(195, 90%, 40%);
}

input[type="submit"]:focus, button:focus {
	-webkit-box-shadow: none;
	outline: -webkit-focus-ring-color auto 0px;
}

#export-file-button {
	width: 250px;
	height: 50px;
	border: none;
	margin-bottom: 35px;
}

#result-table {
	background-color: #a5aeb080;/*rgba(255, 255, 255, 0.5)*/
	width: 100%; 
	display: flex; 
	overflow-x: hidden; 
	margin-top: 30px; 
	flex-wrap: wrap;
}


.edit-button, .delete-flight-button {
	width: 50px;
	height: 35px;
	display: inline-block;
	z-index: 99;
	position: relative;
	border: none;
	cursor: pointer;
}

.edit-button {
	background: url(../imgs/edit_flight_icon_100px.svg) no-repeat;
}

.delete-flight-button, .delete-landing-button {
	background: url(../imgs/delete_flight_icon_100px.svg) no-repeat;
}

.cell-landing-button {
	width: 100px;
}

.delete-landing-button {
	height: 100%;
    width: 25px;
    margin-top: 17px;
	position: relative;
	z-index: 99;
	border: none;
	cursor: pointer;
}

.white-haloed {
	-webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
	filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}



.result-table-cell, .result-table-column-header {
	text-align: center;
	min-width: 80px;
	padding: 8px 15px 8px 15px;
	display: inline-block;
	color: white;
	z-index: 99;
}

.cell-flight_notes, #column-flight_notes {
	width: 25%;
}

.cell-departure_date, #column-departure_date {
	min-width: 160px;
}

.result-table-cell, .landing-table-cell {
}

.flight-result-input, .flight-result-input-disabled, .landing-result-input, .landing-result-input-disabled {
	width: 100%;
	height: 100%;
	color: inherit;
	padding: 0px 5px 0px 5px;
	background-color: rgba(255, 255, 255, 0);
	border: none;

}

.flight-result-input:-webkit-autofill,
.flight-result-input:-webkit-autofill:hover, 
.flight-result-input:-webkit-autofill:focus {
	border: none;
	-webkit-text-fill-color: white;
  	-webkit-transition-delay: 99999s; /*apparently the only way to keep background color from being overridden*/
}

/* remove Bootstrap border when focused */
.flight-result-input:focus, .landing-result-input:focus, .modal-expanded-text:focus {
	outline: 0px !important;
}

.flight-result-input:focus, .landing-result-input:focus {
	border: 2px solid rgba(255, 255, 255, 0.5);
	transition: 0.25s;
}

.flight-result-input, .landing-result-input {
	pointer-events: auto;
	z-index: 100;
	position: relative;
	background-color: rgba(255, 255, 255, 0.2);
	height: 35px;
}

.landing-result-input {
	width: 95%;
	height: 95%;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center !important;
	color: black;
}

.flight-result-input-disabled, .landing-result-input-disabled {
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}

.landing-table-cell > select {
	text-align-last: center;
}

.truncatable {
	text-align: inherit;
	display: inherit;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

span.truncatable {
	position: absolute;
	margin-top: -12px;
}
.truncatable.truncated {
	width: 90%;
	display: inline-block;
}

.expand-truncated-button {
	z-index: 100; 
	background-color: Transparent; 
	border: none; 
	display: inline-block;
	width: 5%;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.slide-up-on-hover {
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.slide-up-on-hover:hover {
	transform: translate(0px, -5px);
	position: relative;
}

.expand-truncated-button:hover {
	background-color: rgba(0, 0, 0, 0);
	font-weight: bold;
	/*transform: translate(0px, -5px);*/
	/*top: -5px;*/
	position: relative;
	cursor: pointer;
}

.result-table-column-header {
	/*background-color: #894C4C;/*hsl(217, 5%, 77%);*/
	display: inline-block;
	font-weight: bold;
	/*font-size: 20px;*/
}

.flight-cell-container, .result-header-cell-container {
	min-width: 88%;
	max-width: 93%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result-table-header {
	background-color: #894C4C;
	height: 60px;
	width: 100%;
	padding-right: 0px;
	display: flex;
	justify-content: space-between;
}

.result-header-cell-container {
	height: 60px;
}

.result-table-footer {
	font-weight: 500; 
	border-bottom: none; 
	background-color: #8e5757e6 !important; 
	height: 40px;
}

.result-table-footer > .result-header-cell-container {
	height: 100%;
}

.result-table-row {
	display: flex;
	justify-content: space-between;
}

.flight-cell-container, .flight-row-button-container {
	height: 40px;
}

.flight-row-button-container {
	padding-right: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result-table-card {
	border-bottom: 1px solid black;

}

.landing-content-container {
	width: 97%; 
	float: right; 
	margin-right: 2.5%; 
	margin-top: 15px; 
	margin-bottom: 20px;
}

.landing-table {
	width: 100%;
}

.landing-table-column-header {
	background-color: #e7edeede;/*rgba(255, 255, 255, 0.3)*/
}

.landing-table-cell {
	background-color: #d1d5d7e6;/*rgba(255, 255, 255, 0.1);*/
	position: relative;
}

.add-flight-container {
	width: 100px;
	display: flex;
	justify-content: flex-end;
}

.add-landing-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.add-landing-button, .add-flight-button {
	color: hsl(195, 84%, 45%);
	margin-right: 15px;
	cursor: pointer;
	display: flex;
    align-items: center;
}

.add-flight-button {
	font-weight: 500;
	font-size: 18px;
}

.add-flight-button > span {
	font-weight: 700;
	font-size: 35px; 
	margin-top: -8px;
}

.add-landing-button {
	font-weight: 700;
	font-size: 16px;
}

.hidden, .cloneable {
	display: none;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

.card {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.card-header {
	background-color: #936262e6;/*#946d6d;/*hsla(217, 5%, 50%, 0.1);*/
}
.card-header a {
	color: black;
	display: flex;
	align-items: center;
}

/* Add animated chevron to card*/
.card-header .fa {
	transition: .3s transform ease-in-out;
	color: white;
	margin-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.card-header .collapsed .fa {
	transform: rotate(90deg);
}

.anchor-content {
	width: 100%;
	justify-content: right;
	align-items: center;
	color: rgba(255, 255, 255, 0);
	height: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	display: inline-block;
	z-index: 0;
}

/*table {background-color: rgb(0, 0, 0, 0)}*/

tr {
	border-bottom: 1px solid #84848480;/*hsl(100, 0%, 80%);*/
}

td, th {
	text-align: center;
	width: 100px;
	max-width: 200px;
	padding-left: 10px;
	padding-right: 10px;
}

td {
	height: 40px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: white-space 0.5s ease-in-out;
}

/*td.truncated {
	padding-right: 40px;
}*/

.cell-landing_notes, .cell-justification {
	width: 25%;
	text-align: left;
}

.cell-landing_location {
	text-align: left;
	width: 15%;
}

.cell-landing_type {
 	width: 15%;
 }

.cell-landing_passengers {
	width: 10%;
}




th {
	height: 50px;
	font-weight: 600;
}

/* Custom checkbox*/
/* The container */
.checkmark-container {
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 50px;
  	margin-bottom: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height:20px;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: none;
	border: 2px solid hsl(195, 84%, 45%);
	vertical-align: center;
	horizontal-align: center;
}

/*When the checkbox is checked, fill in background*/ 
.checkmark-container input:checked ~ .checkmark {
	background-color: hsl(195, 84%, 45%);
	border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	/*display: none;*/
	opacity: 0;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
	/*display: block;*/
	opacity: 1;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
	left: 7px;
	top: 2px;
	width: 7px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	vertical-align: center;
}
/*th {
	background-color: hsl(217, 5%, 77%);
}*/

/* Modal expanded text (that exceeds the width of the cell)*/
/* modal background */
.modal-background {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9998; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-backgound-open {
	display: block;
}

.modal-content {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #fefefe;*/
  width: 400px;
  max-width: 100%;
  border-radius: 16px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-name: slideIn;
  animation-duration: 0.3s;
  display: flex;
  justify-content: center;
}

.modal-expanded-text {
	padding: 0px 16px 16px 24px;
	margin-top: 15px;
	position: absolute;
	left: 0;
	top: 30px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0);
	color: inherit;
	border: none;
}

/* close and save buttons*/
.modal-button-container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%; 
	height: 40px;
}

.close-modal-text-button, .save-modal-text-button {
	float: right;
	font-size: 30px;
	font-weight: bold;
	margin-right: 10px;
	/*-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;*/
}

.close-modal-text-button {
	margin-top: -12px;
}

.save-modal-text-button-container {
	width: 40px;
	height: 20px;
}

.save-modal-text-button {
	color: white;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.close-modal-text-button:hover, .close-modal-text-button:focus, .save-modal-text-button:hover, .save-modal-text-button:focus {
	/*transform: translate(0px, -5px);*/
	text-decoration: none;
	cursor: pointer;
}

/* animations */
@-webkit-keyframes slideIn {
	from {transform: translate(-25%, -50%); opacity: 0}
	to {transform: translate(-50%, -50%); opacity: 1;}
}

@keyframes slideIn {
	from {transform: translate(-25%, -50%); opacity: 0}
	to {transform: translate(-50%, -50%); opacity: 1;}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}