
/*body {
	font-size: 30px;
}*/




body { 
  background-image: url('../imgs/scenic_landing_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; 
  background-color: #e0e3e8;
  /*background-size: contain;*/
}


.query-input-container {
	display: inline-block; 
	width: 24%; 
	padding-right: 4%;
}

.query-input-label {
	/*display: block;*/
	margin-bottom: 10px;
}

.query-input {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	float: left;
	background-color: hsl(218, 15%, 95%);
	border: 1px solid rgb(169, 167, 167);
}

input {
	transition: 0.3s;
}

input[type="submit"], button {
	background-color: hsl(195, 84%, 45%); 
	color: white;
	border-radius: 7px;
}

input[type="submit"]:hover, button:hover {
	/*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);*/
	background-color: hsl(195, 90%, 40%);
}

input[type="submit"]:focus, button:focus {
	-webkit-box-shadow: none;
	outline: -webkit-focus-ring-color auto 0px;
}

#export-file-button {
	width: 20%;
	height: 50px;
	border: none;
}

#result-table {
	background-color: #a5aeb080;/*rgba(255, 255, 255, 0.5)*/
}

.result-table-cell, .result-table-column-header {
	text-align: center;
	min-width: 80px;
	padding: 8px 15px 8px 15px;
	display: inline-block;
	color: white;
}

.result-table-cell, .landing-table-cell {
}

.truncatable {
	text-align: inherit;
	display: inherit;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.truncatable.truncated {
	width: 90%;
	display: inline-block;
}

.expand-truncated-button {
	z-index: 100; 
	background-color: Transparent; 
	border: none; 
	display: inline-block;
	width: 5%;
}

.result-table-column-header {
	background-color: #894C4C;/*hsl(217, 5%, 77%);*/
	display: inline-block;
	font-weight: bold;
}

.result-table-row, .result-table-header {
	width: 97%;
	justify-content: space-between;
	align-items: center;
}

.result-table-header {
	height: 60px;
	width: 100%;
	padding-right: 3%;
}

.result-table-row {
	height: 40px;
}

.result-table-card {
	border-bottom: 1px solid black;

}

.landing-table-column-header {
	background-color: #e7edeede;/*rgba(255, 255, 255, 0.3)*/
}

.landing-table-cell {
	background-color: #d1d5d7e6;/*rgba(255, 255, 255, 0.1);*/
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

.card {
	border: none;
	background-color: rgba(0, 0, 0, 0);
}
.card-header {
	background-color: #936262e6;/*hsla(217, 5%, 50%, 0.1);*/
}
.card-header a {
	color: black;
	display: flex;
	align-items: center;
}

/* Add animated chevron to card*/
.card-header .fa {
  transition: .3s transform ease-in-out;
  color: white;
  margin-right: 15px;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

/*table {background-color: rgb(0, 0, 0, 0)}*/

tr {
	border-bottom: 1px solid #84848480;/*hsl(100, 0%, 80%);*/
}

td, th {
	text-align: center;
	width: 100px;
}

td {
	height: 40px;
}

th {
	height: 50px;
	font-weight: 600;
}

/*th {
	background-color: hsl(217, 5%, 77%);
}*/
